* {
    box-sizing: border-box;
    color: #FFFFFF;

    font-family: 'Roboto-light', sans-serif;
}

.btn.black {
    background-color: #000000;
}

/* Image container. Avatar on posts */
.img-container {
    width: 50px;
    height: 50px;
    float: left;
    animation-name: none !important;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #E5094D;
    border-image: initial;
    border-radius: 60px;
}

.swal2-loader {
    border-top-color: #E5094D !important;
    border-bottom-color: #E5094D !important;
}

.swal2-icon {
    border-color: #E5094D !important;
}

.swal2-success-ring {
    border-color: #E5094D !important;
}

.swal2-success-line-tip,
.swal2-success-line-long
{
    background-color: #E5094D !important;
}

.swal2-confirm {
    background-color: #E5094D !important;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown_arrow {
    border-radius: 50%;
    height: 3rem;
}

.register_header_btn, .login_btn {
    font-size: 10px;
}

.card {
    border: none;
    padding: 0;
}

.page-item.active .page-link {
    background-color: #E5094D;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #2A2B2A;
    border: #E5094D;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #EF798A;
    border-color: #891722;
}

.pagination {
    border-color: #E5094D;
}

/* =========GUEST HOME===========

 ==============================*/

a {
    text-decoration: none !important;
    color: inherit !important;
    background-color: inherit !important;
}

ul li {
    list-style-type: none;
}

select {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-appearance: none;
}

button, input, ::placeholder, select {
    color: #FFFFFF !important;
    border-radius: 8px;
    border: none !important;
}

#
 {
    font-family: 'Roboto-light', sans-serif;
}

::-webkit-input-placeholder, select, input {
    font-size: 13px !important;
}
::-moz-placeholder, select, input {
    font-size: 13px !important;
}
:-ms-input-placeholder, select, input {
    font-size: 13px !important;
}
::placeholder, select, input {
    font-size: 13px !important;
    font-family: 'Roboto-light', sans-serif !important;
}


.city_swingers {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.register_btn {
    border: 1px solid !important;
    border-color: #E5094D !important;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

.register_btn:hover {
    background-color: #E5094D !important;
    color: #FFFFFF;
}

.dropdown-item:hover {
    background-color: #E5094D !important;
}

.guest_header, .city_swingers_vesterbro, .video_section {
    background-color: #141716;
}

.container-fluid {
    padding: 0px;
}

.pink_title, .closing_btn, #loginModal {
    color: #E5094D;
}

.pink_title_card, .pink_title_small {
   color: #E5094D;
   font-weight: bold;
}

.pink_title_small {
    font-size: x-large;
}

.pink_title {
    margin-bottom: 0rem;
    font-size: x-large !important;
}

.pink_title, .city {
    font-size: 2rem;
}

.city {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;;
}

.bud_section_text {
    font-family: 'Roboto-light', sans-serif;
    font-size: x-small;
}

.rounded_number {
    border: 0.1em solid #E5094D;
    border-radius: 100%;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}

.rounded_number p {
    margin-top: -0.1em;
    font-size: 1em;
    font-weight: lighter;
    font-family: sans-serif;
    color: #E5094D;
}

.banner {
    position: relative;
    text-align: center;
}

.banner_img {
    max-width: 100%;
}

.title {
    margin-top: 10rem;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.city_swingers_amager, .bud_section, .info_section, .footer_swingeren {
    background-color: #000000;
}

.cs_amager {
    max-width: 100%;
}

.cs_vesterbro {
    max-width: 100%;
}

.card_city {
    border-radius: 8px;
}

.cards {
    float: left;
}

.card_city_body {
    background-color: #2a2b2a !important;
    border-radius: 5%;
    font-size: small;
}

.card_city, .city_swingers_sidebar {
    border-radius: 5%;
}

.dummy_video {
    max-width: 100%;
}

.footer_swingeren img {
    max-width: 30%;
}

.video_description {
    font-family: 'Roboto-light', sans-serif;
}

/* =========LOGIN===========

 ==============================*/

 .login_btn{
    font-family: 'Gotham-bold', sans-serif;
}

.modal-content  {
    background-color: #2A2B2A !important;
}

.modal-body input, select {
    background-color: #454545 !important;
}

::placeholder-shown {
    color: #FFFFFF;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
}

/* =========REGISTER===========

 ==============================*/

 .register_title, .fa-heart, .fa-comments-o {
     color: #E5094D;
 }

 .register-background {
    background-color: #000000;
 }

 .register-form {
    background-color: #1f1f1f;
 }
.form-group input {
    background-color: #454545 !important;
}

.register_header_btn {
    color: #FFFFFF !important;
}

/* =========PROFILE===========

 ==============================*/

.loggedin_header, .loggedin_nav {
    background-color: #454545;
    color: #FFFFFF;
}

.profile_description {
    padding-left: 2.1rem !important;
}

/* .full_description {
    margin-left: 100%;
} */

.loggedin_nav {
    border: none;
}

.loggedin_nav :hover {
    text-decoration: underline solid #E5094D 3px !important;
    background-color: none !important;
}

.sections_header {
    background-image: linear-gradient(#1F1F1F, #454545);
    position: relative;
    max-height: 100%;
}

.profile_body, .newsfeed_body {
    background-image: linear-gradient(#141716, #1F1F1F);
}


.avatar_img {
    max-width: 100%;
    position: absolute;
}

.dummy_profile {
    border: none !important;
    border-color: none !important;
    border-radius: 8px;
}

.dropdown-toggle :hover {
    background-color: none !important;
}

.delete_avatar :hover {

}

/* NAV */

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    justify-content: center;

    overflow-x: none;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 8px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #E5094D;
}

.nav__link--active {
    color: white;
}

.nav__icon {
    font-size: 12px;
}
a:hover {
    color: #ebedf0;
}

/* =========POST AREA===========

 ==============================*/

textarea, .btn_submit {
    background-color: #1e201f !important;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.write_post {
    max-width: 50%;
    /* background-color: #2A2B2A; */
}

textaera {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.see_posts {
    border: 1px solid;
    border-color: #E5094D !important;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.see_posts:hover {
    background-color: #E5094D !important;
    color: white;
}

.profile_navigation {
    background-color: #2A2B2A;
}

.post_avatar_img {
    max-width: 10%;
    border: 1px solid;
    border-color: #E5094D;
    position: absolute;
    left: -25px;
    top: 0;
}

.post_card_header, .post_card_footer, .btn-pagination {
    background-color: #454545;
}

.post_card_header {
    position: relative;
}

/* .post_avatar_img {
    position: absolute;
    left: -25px;
    top: 0;
} */

.username {
    color: #E5094D;
}

.online_description {
    margin-top: 10%;
}

.btn_like_unlike {
    background-color: #9d9d9c !important;
}

/* =========NEWS FEED===========

 ==============================*/

.card_divider {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration-thickness: 2px;
}

.card-header {
    background: radial-gradient(circle, #000000, #454545 100%) !important;
}

.card-body {
    background-color: #1f1f1f;
}

.btn_cs {
    border: 1px solid;
    border-color: #E5094D;
    color: #E5094D !important;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.post_owner_name {
    color: #E5094D !important;
}

.contentBox, #user-login-form, #block-block-7, .node-event_drop_by-form {
    background: radial-gradient(circle, #000000, #454545 100%) !important;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    color:white;
}

.contentBoxList, .node-type-page {
 
    background: radial-gradient(circle, #000000, #454545 100%) !important;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

.contentBoxList img, .node-type-page img {
    height: auto;
    max-width: 100%;
}

#post_section{
    background: #141716;
    

}

.actProfilePicContainer {
   
    float: left;
    display: block;
}

.actProfilePicContainer img {
    width: 55px;
    height: 55px;
    margin-right: 12px;
    position: relative;
    left:-40px ;
    top:20px;
    
    border-radius: 50%;
}
.actProfiles a{
    text-decoration:none;
     color: #E5004C !important;
}
.actProfiles {
     font-size: 15px;
     color: #E5004C !important;
     background: #1E1E1E !important;
}

.actImage {
    margin-top: 15px;
}

.actDate {
    color: #777;
    font-style: italic;
    margin-top: 2px;
    font-size: 15px;
}

.actDateComment {
    color: #777;
    font-style: italic;
    margin-top: 1px;
    font-size: 10px;
}

#like{
    color: #E5004C !important;
    background-color: white;
}


.accordion-body {
   padding: 1rem 1.25rem;
   background-color: #000000;
   border-radius: none !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: white;
    text-align: left;
    /* background: radial-gradient(circle, #000000, #454545 100%) !important; */
    background: #141716;
    border : none !important;
    border-radius: none !important;
    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #141716 !important;
    border: none !important;
    border-radius: none !important;
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}

.accordion-button:not(.collapsed)::after {
 
    /* background-image: url("./dropdown_arrow.png") ; */
    background-image: url("{{ asset('/storage/arrowCorrect.png') }}") ;
    /* background-color: #E5004C; */

}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    /* background-image: url("./dropdown_arrow.png") ; */
    background-image: url("{{ asset('/storage/arrowCorrect.png') }}") ;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    border-radius: none !important;
}

.open_hours{
    margin-top: 0 !important;
}

.remove_mp{
    margin: 0 !important;
    padding: 0 !important;
}

.space_span{
  
    margin-right: 8rem;
}
.space_span1{
  
    margin-right: 6.5rem;
}
.space_span2{
  
    margin-right: 1.5rem;
}

.card_club{
    background: radial-gradient(circle, #000000, #454545 100%) !important;
}


.required {
    color: #E5094D;
}

/* SUNNY'S CSS */

*{
    font-family: 'Roboto', sans-serif;
}
:root{
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    
}

.banner {
  margin: 0;
  padding: 0;
  background-image: url("/storage/Topimage-bw.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 400;
}

#home2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.divider1 {
  width: 120px;
  height: 2px;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 210px;
  bottom: 12px;
}

@media (min-width: 1199px) {
  .card_imagedrop {
    position: relative;
    top: -1.0rem;
    left: 125px;
  }
  .card_city_body {
    position: relative;
    width: 320px;
    left: 20px;
  }
  .card_child1 {
    position: relative;
    left: 100px;
    height: 85%;
  }
  .card_child2 {
    position: relative;
    left: 40px;
    height: 85%;
  }
  .card_child3 {
    position: relative;
    height: 85%;
    left: -25px;
  }
}

@media (max-width: 767px) {
  .bud_section {
      display: none;
  }
}

.intros .video-box a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
}

.rounded_number {
  border: 0.1em solid #E5094D;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  font-weight: 700;
}

.rounded_number p {
  margin-top: -0.1rem;
  margin-left: -0.3rem;
  font-size: 1em;
  font-weight: lighter;
  font-family: sans-serif;
  color: #E5094D;
  
}
.rounded_number .p1 {
  margin-top: -0.1rem;
  margin-left: -0.5rem;
  font-size: 1em;
  font-weight: lighter;
  font-family: sans-serif;
  color: #E5094D;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    /* margin: 0 0 55px 0; */

}

.uni_padding{
    padding: 0 8%;
    background: #141716 !important;
}

#top_nav{
    /* width: 100vw; */
    background-color: #141716 !important;
    color: white !important;
    font-size: 15px;
}
#top_nav2{
    /* width: 100vw; */
    background: radial-gradient(circle, #141716, #454545 100%) !important;
    color: white !important;
    font-size: 15px;
    /* box-shadow: 10px 10px 11px 0px #454545; */
    z-index: 99;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 13px;
}
.navbar-dark .navbar-brand:hover {
    color: #E5004C;
    font-size: 12px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 13px;
    
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #E5004C;
    font-size: 12px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: 0px;
    border-radius: 0;
    outline: none;
}
 #strom{
   
    background: radial-gradient(circle, #141716, #454545 100%) !important;
    font-size: 30px;
    color: white;
    
    
 }
 #strom1{
   
    background: radial-gradient(circle, #141716, #454545 100%) !important;
    font-size: 30px;
    color: white;
    
}
 #strom2{
   
    background: radial-gradient(circle, #141716, #454545 100%) !important;
    font-size: 30px;
    color: white;
    
}

 #sidebar1{
     background: #141716;
     
 }

#sidebar_footer{
    background: #000000 !important;
}
 .card_divider {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration-thickness: 2px;
}

.card-body {
    flex: 1 1 auto;
    /* padding: 1rem 1rem; */
    background: radial-gradient(circle, #141716, #454545 100%) !important;
    border-radius: 0.25rem;
}
.card-header {
    background: radial-gradient(circle, #141716, #454545 100%) !important;
}

.card-body {
    background-color: #1f1f1f;
   
}

.btn_cs {
    border: 1px solid;
    border-color: #E5004C;
    color: #E5004C !important;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.post_owner_name {
    color: #E5004C !important;
}

#post_section{
    background: #141716;

}

#opslag {
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
 ;
}
.empty_section_opslag{
  
    background: #141716;
}
.opslag1{
    margin-right: 10px;
    border: aqua;
    outline: none;
    border-radius: 14px;
    background: radial-gradient(circle, #141716, #454545 100%) !important;
    flex: 0 0 auto;
    width: 66.66666667%;
}

.opslag1::placeholder{
     
    color: white;
   text-align: center;
   
   
    
}

.btn_opslag{
    border-radius: 14px;
    
}

#radio_btn{
    display: flex;
    flex-direction: column !important;
    color:white;
    
}
button, input, optgroup, select, textarea {
    margin: 12px;

    
    
}

#sidebar2{
    border: none;
    text-align: center;
    justify-content: center;
    
}
#sidebar3{
    border: none;
    text-align: center;
    justify-content: center;
}


.btn-outline-primary {
    color:  white !important;
    border-color: #E5004C !important;
   
    
}

.btn-outline-primary:hover {
    background-color: #E5004C;
    color:white;
}
.form-check-input:checked {
    background-color: #E5004C;
    border-color: #E5004C;
    
}

.img_side{
    margin: 10px;
}

/* profilepages */


.couple_name_section{
    position: relative;
    /* top: 120px; */
    z-index: 99;
}

.description_profile {
    background: #141716;
}

.btn_sty{
    outline: none !important;
    background: radial-gradient(circle, #141716, #525050 100%) !important;

}

.btn-outline-primary {
    color: white !important;
    border-color: #141716 !important;
}
button, input, optgroup, select, textarea {
    margin: 0px;
}

.btn-outline-primary:hover {
    color: #fff;
    background: radial-gradient(circle, #141716, #525050 100%) !important;
    border-color: rgb(214, 32, 62);
}

#mobile_img{
    width: 300px ;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #E5004C;
}


.login {
    font-size: 15px;
    color: #fff;
    position: relative;
    left:52px;
    text-align: center;
    justify-content: center;
}

.mobile_btn{
    background-color: #E5004C;
    width: 9rem;
    height: 2.5rem; 
    color: white;
}
.banner1 img {
    width: 100% !important;
    height: 200px !important;
    
}
.banner2 img {
    width: 100% !important;
    height: 200px !important;
    
}
.banner3 img {
    width: 100% !important;
    height: 200px !important;
    
}
/* .actContainerContent {
    background: #2A2927;
    display: flex;
    padding: 10px 15px 10px 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radus: 4px;
    color: #FFFFFF;
}
.banner img {
    max-width: 100%;
    height: auto;
} */

/* ACCORDIAN */

.acdQA{
    box-sizing: border-box;
    font-weight: 400;
}


.accordian_section_body{
    padding: 10px;
    margin:0px;
    /* background-color: #1E1E1E; */
    
}
.accordian{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px ;
}

.accordian-item{
    border-radius: 5px;
    padding: 1px; 
    
    margin-bottom: -30px;
    background-color:#1E1E1E;
}

.accordian-title{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .accordian-title::after{
    content:'';
    background-image: url('../img/arrowCorrect.png') ; 
    font-size:10px;
    margin-left: auto;
} */

.accordian-title::after{
    flex-shrink: 0;
    width: .75rem;
    height: 1.0rem;
    margin-left: auto;
    content: "";
    background-image: url("{{ asset('/storage/arrowCorrect.png') }}") ;
    background-repeat: no-repeat;
    background-size: 0.7rem;
    transition: transform .2s ease-in-out;
    border-radius: none !important;
}




.active-header::after{
    content:'';
    background-image: url("{{ asset('/storage/arrowup.png') }}") ;
}


.accordian-answer{
    max-height: 0;
    overflow: hidden;
    transition: 500ms ease max-height;
}
.Reactangle1{
    width:100%;
    height:70%;
}
.Reactangle2{
    width:100%;
    height:70%;
}

/* CLUBS PROFILE */

.block-title {
    color: white;
    font-size: 23px;
    font-weight: 300;
    position: relative;
    left:12px;
    margin-top: 55px;;
}

#block-menu-menu-cityswinger-menu {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* text-transform: uppercase; */
    font-weight: 300;
}

.list-group-item{
    background: #141716;
    color:white;
    border: 1px solid #282828;
    border-top: none;
    border-left: none;
    border-right: none;
    


}

.list-group-item-action {
    width: 83%;
    
}
.list-group-item:hover{
background: radial-gradient(circle, #141716, #454545 100%) !important;
color: #E5004C !important;
}


.menu_text{
    text-transform: uppercase;
}

/* sidebarsection 2 */
#sidebar1{
    background: #141716;
    

}
.accordion-body {
padding: 0.5rem ;

background-color: #141716 !important;
border-radius: 0 !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem ;
    font-size: 1rem;
    color: white;
    text-align: left;
  
    background-color: #141716 !important;
    
     
    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #141716 !important;
    
    border: none !important;
    border-radius: none !important;
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}

.accordion-button:not(.collapsed)::after {

    /* background-image: url("./dropdown_arrow.png") ; */
    background-image: url("/storage/arrowCorrect.png") ;
   

}

.accordion-button::after {
    flex-shrink: 0;
    width: .75rem;
    height: 1.0rem;
    margin-left: auto;
    content: "";
    /* background-image: url("./dropdown_arrow.png") ; */
    background-image: url("/storage/arrowCorrect.png");
    background-repeat: no-repeat;
    background-size: 0.7rem;
    transition: transform .2s ease-in-out;
    border-radius: none !important;
}

.open_hours{
    margin-top: 0 !important;
}

.remove_mp{
    margin: 0 !important;
    padding: 0 !important;
}

.space_span{

    margin-right: 8rem;
}
.space_span1{

    margin-right: 6.5rem;
}
.space_span2{

    margin-right: 1.5rem;
}
.space_spanhver{

    margin-right: 3.5rem;
}

.space_spanfre{

    margin-right: 4.29rem;
}
.space_spanfrex{

    margin-right: 6.4rem;
}
.card_club{
    /* background: radial-gradient(circle, #000000, #454545 100%) !important; */
    background-color: #141716 !important;
}

/* .card-body1 {
   background-color: #282828;
   border:none !important;
   height:120px;
} */

.card-body1 {
    background: #1E1E1E;
    height:105px;
    width: 262px;
    margin:0px;
    padding:5px 15px;
}


.card-body_left{
    background-color: #1E1E1E !important;
    
    padding: 15px;
    font-size: 12px;
    width:262px;
    height:465px;
}

.footer_link a{

    color: #59595B !important;
    text-decoration:none !important;

}
.footer_link ul{

    list-style: none;

}

#sidebar_club3 {
    background-color: #141716;
}

.uni_padding_footer {
    padding: 0 8%;
    background-color: #000000 !important;
}

#list_footer li {
    list-style-type: none !important;
}

#block-menu-menu-cityswinger-menu3 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* text-transform: uppercase; */
    font-weight: 300;
    width: 262px;
}

.list-group-item3 {
    background: #141716 !important;
    color: white;
    border: 1px solid #282828;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 12px;
    padding: 8px;
}

.list-group-item-action3 {
    width: 83%;
}

.list-group-item3:hover {
    background: radial-gradient(circle, #000000, #454545 100%) !important;
    color: #E5004C;
}

.menu_text {
    text-transform: uppercase;
}

/* sidebarsection 2 */

.accordion-body {
    padding: 0.5rem;
    background-color: #000000 !important;
    border-radius: 0 !important;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    text-align: left;
    background-color: #141716 !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #141716 !important;
    border: none !important;
    border-radius: none !important;
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}

.accordion-button:not(.collapsed)::after {
    /* background-image: url("./dropdown_arrow.png") ; */
    background-image: url("/storage/arrowCorrect.png");
}

.accordion-button::after {
    flex-shrink: 0;
    width: .75rem;
    height: 1.0rem;
    margin-left: auto;
    content: "";
    /* background-image: url("./dropdown_arrow.png") ; */
    background-image: url("/storage/arrowCorrect.png");
    background-repeat: no-repeat;
    background-size: 0.7rem;
    transition: transform .2s ease-in-out;
    border-radius: none !important;
}

.open_hours {
    margin-top: 0 !important;
}

.remove_mp {
    margin: 0 !important;
    padding: 0 !important;
}

.space_span {
    margin-right: 8rem;
}

.space_span1 {
    margin-right: 6.5rem;
}

.space_span2 {
    margin-right: 1.5rem;
}

.card_club {
    /* background: radial-gradient(circle, #000000, #454545 100%) !important; */
    background-color: #000000 !important;
}

/* .card-body1 {
   background-color: #282828;
   border:none !important;
   height:120px;
} */

.card-body1 {
    background: #1E1E1E;
    height: 105px;
    width: 262px;
    margin: 0px;
    padding: 5px 15px;
}

.card-body_events {
    background: #1E1E1E;
    height: 173px;
    width: 100%;
    

    border-radius: 10px;
    font-size: 12px !important;
}

.card-body_events:hover {
    background: #E5004C;
    height: 173px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 12px !important;
}

.card-body_events:hover h5 {
    color: black !important;
    font-size: 12px !important;
}
.card-body_events h4{
    font-size: 18px !important;
}






.card-body_left {
    background-color: #1E1E1E !important;
    padding: 15px;
    font-size: 12px;
    width: 262px;
    height: 465px;
}

.footer_link a {
    color: #59595B !important;
    text-decoration: none !important;
}

.footer_link ul {
    list-style: none;
}

.container_mellem{
    display: flex !important;
    flex-wrap: nowrap !important;
}

.card_mellem_new {
background-color: #292B2A !important;
width: 150px !important;
height: 220px !important;
margin: 10px !important;
border-radius: 10px !important;
}
.card-image_mellem{

height: 100px !important;
margin-bottom: 10px !important;
background-size: cover !important;
border-radius: 10px 10px 0 0 !important; 
}

/* PCARDSTYLE */

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --theme-color: #ff1756;
}
body{
    background-color: #fafafa;
}
.container_pcard{
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
/* .card{
    height: 420px;
    width: 320px;
    background: linear-gradient(
        to bottom,
        var(--theme-color) 110px,
        #ffffff 110px
    );
    
    box-shadow: 0 5px 15px rgba(50,50,50,0.1);
    padding: 50px 0;
}
.card *{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 600;
} */
#img_pcard{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 8px #ffffff;
}
.card h4{
    color: var(--theme-color);
    font-size: 16px;
    margin: 15px 0 5px 0;
}
.card h5{
    color: #454545;
    font-weight: 400;
    font-size: 14px;
}
.details{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.details h2{
    font-weight: 400;
}
.details span{
    color: var(--theme-color);
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.buttons button{
    width: 130px;
    padding: 8px 0;
    border-radius: 25px;
    border: 3px solid var(--theme-color);
}
.buttons button:first-child{
    background-color: var(--theme-color);
    color: #ffffff;
}
.buttons button:last-child{
    background-color: transparent;
    color: var(--theme-color);
}

/* RESPONSIVE DESIGN FOR EXTRA SMALL DEVICES */

@media only screen and (max-width:320px){
    .bigbanner img {
        width: 350px;
        height: 150px;
    }

    #synligt .radio_Synligt{

        position: relative;
        left: 20px;
        font-size: 10px;;
           
       }

}

@media only screen and (max-width:360px){
   
    #synligt .radio_Synligt{

     position: relative;
     left: 30px;
     font-size: 12px;;
        
    }
   

}

@media only screen and  (min-width:375px) and (max-width:414px){
   
    #synligt .radio_Synligt{
       

     position: relative;
     left: 12px;
     font-size: 14px;;
        
    }
   

}

@media only screen and (max-width:425px){

    #mobile_img{
        height: 25vw;   
        width: 25vw; 
        border: 2px solid #E5004C;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;

    
    }
    .text_couple_name{
        position: relative;
        left: 100px;
    }


    #opslag{
        font-weight: 100;
        font-size: 23px;
        position: relative;
        top:10px;
    }

    #synligt{
        position: relative;
        top:-40px;
        left:18px;
    }
    .bigbanner img {
        width: 100%;
        height: 200px;
    }

}

@media only screen and (max-width:450px){
   
    .view_content p{
     margin: 12px;
    }
    
    .contentBox{
        margin:20px;
    }
 
    .actProfilePicContainer img {
     width: 55px;
     height: 55px;
     margin-right: 12px;
     position: relative;
     left:-30px ;
     top:20px;
     
     border-radius: 50%;
 }
 .text_ipadR{
     font-size:14.5px !important;
     position: relative;
     left: 50px;
 }
 .tak{
     position: relative;
     left: 100px;
     
 
 
 }
 .card_ipad{
 
     width: 100%;
     margin: 10px;
     
 }
 
 }
 
 
 @media only screen and  (min-width:550px) and (max-width:768px){
 
 
     .view_content p{
        margin: 12px;
    }
    
    .contentBox{
        margin:25px;
    }
    
    .actProfilePicContainer img {
        width: 55px;
        height: 55px;
        margin-right: 12px;
        position: relative;
        left:-30px ;
        top:20px;
        
        border-radius: 50%;
    }
 
    .card_ipad{

        width: 11rem !important;
    }

    .text_ipad{
        font-size:10px !important;
    }
    .text_ipadR{
        font-size:12.5px !important;
    }
 
    .time_ipad{

        font-size:12px !important;

    }

    .space_span{

        margin-right: 4rem;
    }
    .space_span1{
    
        margin-right: 3rem;
    }
    .space_span2{
    
        margin-right: 0rem;
    }
 
   
 }

 @media (max-width:650px){
    .container_mellem{
        display: flex;
        flex-wrap: wrap !important;
    }
}

@media only screen and (max-width:767px){

    #mobile_img{
        height: 29vw;   
        width: 50vw; 
        border: 2px solid #E5004C;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile_btn{
        background-color: #E5004C;
        width:10rem;
        height: 2.2rem; 
        color: white;
        font-size: 0.9rem;
        
    }
    #page_empty{
        display:block;
        outline: none !important;
        background: #000000;
        width: 100%;
        height: 40px;
    }


}
@media only screen and  (min-width:768px) and (max-width:1023px){

    .btn_sty{
        font-size: 12px;
        position: relative;
        top:-20px;
        

    }
    #mobile_img{
        width: 300px ;
        height: 150px;
        position: relative;
        top:10px;
    }
    .mobile_btn{
        background-color: #E5004C;
        width:9rem;
        height: 2.7rem; 
        color: white;
        font-size: 0.7rem;
        
    }
    .bigbanner img {
        width: 100%;
        height: 160px;
    }
}
/* #mobile_img{
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
 */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #sidebar1{
        background-color : #141716;
       
        text-align: center;
    }
  
   

}